{% extends "contact_box/base.html" %}
{% load extras %}
{% block content %}
    <main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        <div class="content-section">
            <h3>Osoby</h3>
            <h4>mieszkające pod adresem:</h4>
            <p>{{ address.city }}, {{ address.street }} {{ address.street_number }} / {{ address.flat_number }}</p>
            <table cellspacing="3" cellpadding="4">
                <tr>
                    <th>Id</th>
                    <th>Imie i nazwisko</th>
                </tr>
                {% for person in persons %}
                    <tr>
                        <td>{{ person.id }}</td>
                        <td><a href="{% url 'person-specific' person.id %}">{{ person.name }} {{ person.surname }}</a></td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</main>
{% endblock content %}