{% extends "contact_box/group_nav.html" %}
{% load extras %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <label class="border-bottom mb-4">Dodaj grupę</label>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Dodaj</button>
            </div>
        </form>
    </div>
{% endblock content %}

