{% extends "contact_box/base.html" %}
{% load extras %}
{% block content %}
    <main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        <div class="content-section">
            <h3>Grupy <a class="btn btn-outline-info small" href="{% url 'group-add' %}">dodaj</a></h3>
            <table cellspacing="3" cellpadding="4">
                <tr>
                    <th>Id</th>
                    <th>Tytuł</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.id }}</td>
                        <td><a href="{% url 'group-specific' group.id %}">{{ group.title }}</a></td>
                        <td><a class="btn btn-outline-info" href="{% url 'modify-group' group.id %}">edytuj</a></td>
                        <td><a class="btn btn-outline-info deleteElement" href="{% url 'delete-group' group.id %}">usuń</a></td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</main>
{% endblock content %}