{% extends "contact_box/base.html" %}
{% load extras %}
{% block content %}
    <main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        <div class="content-section">
            <h3>Osoby <a href="{% url 'person-add' %}" class="small text-secondary">dodaj</a></h3>
            <table cellspacing="3" cellpadding="4">
                <tr>
                    <th>Id</th>
                    <th>Imie i nazwisko</th>
                    <th>Edytuj</th>
                    <th>Usun</th>
                </tr>
                {% for person in persons %}
                    <tr>
                        <td>{{ person.id }}</td>
                        <td><a href="{% url 'person-specific' person.id %}">{{ person.name }} {{ person.surname }}</a></td>
                        <td><a href="{% url 'modify-person' person.id %}"><button>edytuj</button></a></td>
                        <td><a href="{% url 'delete-person' person.id %}"><button>usuń</button></a></td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</main>
{% endblock content %}