{% extends "contact_box/base.html" %}
{% load extras %}
{% load crispy_forms_tags %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
                <div class="content-section">
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <label class="border-bottom mb-4">Wyszukaj osób w grupach</label>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Zatwierdz</button>
                        </div>
                    </form><br>
                </div>
                {% if persons %}
                    <table cellspacing="3" cellpadding="4" border="1">
                        <tr>
                            <th>Id</th>
                            <th>Imie i nazwisko</th>
                            <th>Grupy</th>
                        </tr>
                        {% for person in persons %}
                            <tr>
                                <td>{{ person.id }}</td>
                                <td><a href="{% url 'person-specific' person.id %}">{{ person.name }} {{ person.surname }}</a></td>
                            <td>
                                {% if person|person_groups %}
                                    {% for group in person|person_groups %}
                                        <a href="{% url 'group-specific' group.id %}">{{ group.title }}</a><br>
                                    {% endfor %}
                                {% else %}
                                    brak grupy
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                </div>
        </div>
    </div>
</main>
{% endblock content %}